.cards {
  border-bottom: 1px solid #21212166;
  padding-bottom: 40px;
  max-width: 1280px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: repeat(2, 445px);
  column-gap: 20px;
  row-gap: 40px;
  list-style-type: none;
  padding: 20px 0px 0px;
  justify-content: center;
}

.card {
  max-width: 413px;
  max-height: 445px;
}

.card__image {
  width: 413px;
  max-height: 413px;
  border-radius: 8px;
  display: block;
}

.card__info {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.card__heart {
  margin-left: auto;
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
  padding: 0;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 1;
}

.data-wrapper {
  display: flex;
  padding-top: 12px;
}
