.pic-modal__container {
  max-height: 80vh;
  max-width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  display: flex;
  gap: 12.56px;

}

.pic-modal__img {
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
}

.pic-modal__title {
  width: fit-content;
  height: 24px;
  margin: 0;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
}


.pic-modal__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 900px) {
  .pic-modal__container {
    flex-direction: column-reverse;
    max-height: 600px;
    max-width: 100vw;
    gap: 8px;
    transform: translate(-50%, -50%);
  }

  .pic-modal__img {
    max-height: 80vh;
    min-width: 90vw;
  }

  .pic-modal__close {
    align-self: flex-end;
  }
}
