.profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21212166;
  padding: 34px 0px 20px;
}

.profile__card {
  display: flex;
  gap: 20px;
  max-width: 505px;
}

.profile__image {
  max-width: 190px;
  max-height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__title {
  max-width: 415px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__subtitle {
  max-width: 417px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding-top: 12px;
  color: #212121B2;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__newpost-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  width: 149px;
  max-height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 0px 18px 0px;
  border: none;
  border-radius: 8px;
  align-self: flex-end;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
}

.profile__newpost-button:hover {
  background-color: #212121cc;
}

.profile__newpost-image {
  height: 12px;
  width: 12px;
  padding-right: 8px;
}

.profile__edit-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121b3;
  border: 0;
  background-color: #fcf5e5b3;
  padding: 0;
  text-align: left;
  max-width: 112px;
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__edit-img {
  width: 16px;
  height: 12px;
}

.profile__edit-img:hover {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    margin: auto;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
  }

  .profile__card {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-bottom: 20px;
  }

  .profile__image {
    width: 80px;
    height: 80px;
  }

  .profile__column {
    align-items: center;
    gap: 32px;
  }

  .profile__title {
    font-size: 20px;
    max-width: 288px;
    text-align: center;
  }

  .profile__subtitle {
    text-align: center;
    padding: 0;
    margin-top: 6px;
    max-width: 288px;
  }

  .profile__edit-button {
    text-align: center;
  }

  .profile__newpost-button {
    width: 288px;
    padding: 18px 0px 18px 0px;
    align-self:center
  }
}
